@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

body, html{
    background-color: black;
    color: white;
    height: 100vh;
    width: 100vw;
}

header{
    position: relative;
}

main{
    position: relative;
    width: 90vw;
    height: 90vh;
    margin: 20px;
}

h1{
    text-align: center;
}

h1.mark{
    display: block;
    text-align: right;
    font-size: 1.5em;
    margin: 10px;

    
}

span#burguer {
    display: block;
    color: white;
    display: block;
    margin-top: -50px;
    padding: 10px;
    cursor: pointer;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
}

menu > ul > li a:hover {
    font-size: 1.2em;
    color: purple;
}

section#login > div#imagem {
    display: block;
    background: url('../imagens/mulher-meditando.png') no-repeat;
    background-size: contain;
    margin: auto;
    margin-top: 20px;
    height: 200px;
    width: 200px;
}

p {
 padding: 10px;
 margin-top: 10px;
}

h1 > span.roxo{
    color: purple;
}

div.campo > input {
    font-size: 1em;
    height: 35px;
    width: 300px;
    border: 0px;
    border-radius: 12px;
    padding: 4px;
    margin: 5px;
}

div.campo > input:hover {
    background-color: lightgrey;
}

form > input[type=submit] {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 120px;
    height: 35px;
    margin: 5px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

